name = "RenewalInference"
uuid = "a4ee2418-3667-4893-ad35-afdd55530a8f"
authors = ["Satnteri V채채t채j채"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
